/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/



body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center ;
    text-align: center;
    background-color: bisque;
    text-align: center;
}

button {
    background-color: hsl(94, 84%, 38%);
    color: white;
    font-size: 35px;
    padding: 15px 40px;
    border: none;
    margin: 20px;
    cursor: pointer;
}

h1 {
    font-size: 40px;
    font-weight: bold;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
